/* Add CSS Styling */

.one {
    background-color: black;
    color: white;
}

.two {
    background-color: rgb(243, 227, 87);
}

.one,
.two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}